ConnectionStrings__DefaultConnection=YOUR_NEON_CONNECTION_STRING

Jwt__Key=REPLACE_WITH_A_LONG_RANDOM_SECRET
Jwt__Issuer=SparkSalesApi
Jwt__Audience=SparkSalesClient

Email__SenderAppPassword=YOUR_GMAIL_APP_PASSWORD