# Backend .env
ConnectionStrings__DefaultConnection=Host=ep-ancient-band-aci1s5k1-pooler.sa-east-1.aws.neon.tech; Database=neondb; Username=neondb_owner; Password=npg_pzWFoGDx5rn9; SSL Mode=VerifyFull; Channel Binding=Require;
Frontend__BaseUrl=https://sparksales.vercel.app

Jwt__Key=DVXErMk6Fo1Y2uFen/hWDY5FkE1ljSs3dJvPn28NvnFqojkbWDYEjL2VfSIWBe/XZ6n9n5jxDHNWAAOi0wjk0Q==
Jwt__Issuer=SparkSalesApi
Jwt__Audience=SparkSalesClient

Email__SenderAppPassword=kzhlp34cont@ct
Email__SmtpHost=smtp.gmail.com
Email__SmtpPort=587
Email__SenderEmail=sparksales.team01@gmail.com
Email__SenderName=SparkSales